## Descrição do desafio

O problema proposto usa como base quatro datasets, cada um contendo dados de empresas abrangendo todos os tipos e setores. O primeiro dataset contem os dados de todas as empresas a serem analisadas; os outros três são subsets do primeiro e se referem ao portifolio de empresas que prestam serviços as empresas dos respectivos portifolios.

O objetivo do desafio é criar um modelo que faça recomendações de possíveis leads para as empresas que prestam serviço baseado em seus portifolios.

## Imports

In [1]:
import numpy as np
import pandas as pd
from imblearn.over_sampling import SMOTE
import category_encoders as ce
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

In [2]:
# Import do dataset geral
EM = pd.read_csv('C:\\Users\\Luiz Guilherme\\codenation\\projeto_final\\datasets\\estaticos_market.csv')

# Import dos Dados de Portifolio
P1 = pd.read_csv('C:\\Users\\Luiz Guilherme\\codenation\\projeto_final\\datasets\\estaticos_portfolio1.csv')
P2 = pd.read_csv('C:\\Users\\Luiz Guilherme\\codenation\\projeto_final\\datasets\\estaticos_portfolio2.csv')
P3 = pd.read_csv('C:\\Users\\Luiz Guilherme\\codenation\\projeto_final\\datasets\\estaticos_portfolio3.csv')

## Análise Exploratória

In [3]:
EM.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
P1.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,...,NaN,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4
2,2,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,18.726027,15 a 20,...,39.454762,91.2,19.333333,14.0,15.0,25.0,-6.666667,-44.0,0.0,3

In [5]:
P2.head()

   Unnamed: 0                                                 id
0           0  09e95c1a84049001d086470a8f320a19b076f955a89122...
1           1  dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...
2           2  16843c9ffb920170477118933798510d8d5f00f5c56c12...
3           3  ff045934d90aab184dd15e66daf3b3c97193bda5449298...
4           4  a0ce528caab2c62497a548d0ebd9e935143ef81ed7dbf0...

In [6]:
P3.head()

   Unnamed: 0                                                 id
0           0  bb61c09449a1c1f8b78955d8b7a7f73599e78358993fe2...
1           1  16843c9ffb920170477118933798510d8d5f00f5c56c12...
2           2  1b8d092daff12bed8b3c2ab93bf5df2921865a68aca185...
3           3  3aafa3a1f12f483740a52956af100223333d0e3c79bf2c...
4           4  c60431fbca90067f105570e1e8a684bcd7048205bbf6c4...

In [7]:
EM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462298 entries, 0 to 462297
Columns: 182 entries, Unnamed: 0 to qt_filiais
dtypes: bool(9), float64(144), int64(2), object(27)
memory usage: 614.1+ MB

In [8]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
EM.dtypes

Unnamed: 0                                         int64
id                                                object
fl_matriz                                           bool
de_natureza_juridica                              object
sg_uf                                             object
natureza_juridica_macro                           object
de_ramo                                           object
setor                                             object
idade_empresa_anos                               float64
idade_emp_cat                                     object
fl_me                                               bool
fl_sa                                               bool
fl_epp                                              bool
fl_mei                                              bool
fl_ltda                                             bool
dt_situacao                                       object
fl_st_especial                                      bool
fl_email                                            bool
fl_telefone                                         bool
fl_rm                                             object
nm_divisao                                        object
nm_segmento                                       object
fl_spa                                            object
fl_antt                                           object
fl_veiculo                                        object
vl_total_tancagem                                float64
vl_total_veiculos_antt                           float64
vl_total_veiculos_leves                          float64
vl_total_veiculos_pesados                        float64
fl_optante_simples                                object
qt_art                                           float64
vl_total_veiculos_pesados_grupo                  float64
vl_total_veiculos_leves_grupo                    float64
vl_total_tancagem_grupo                          float64
vl_total_veiculos_antt_grupo                     float64
vl_potenc_cons_oleo_gas                          float64
fl_optante_simei                                  object
sg_uf_matriz                                      object
de_saude_tributaria                               object
de_saude_rescencia                                object
nu_meses_rescencia                               float64
de_nivel_atividade                                object
de_indicador_telefone                             object
fl_simples_irregular                              object
vl_frota                                         float64
empsetorcensitariofaixarendapopulacao            float64
nm_meso_regiao                                    object
nm_micro_regiao                                   object
fl_passivel_iss                                   object
qt_socios                                        float64
qt_socios_pf                                     float64
qt_socios_pj                                     float64
idade_media_socios                               float64
idade_maxima_socios                              float64
idade_minima_socios                              float64
qt_socios_st_regular                             float64
qt_socios_st_suspensa                            float64
qt_socios_masculino                              float64
qt_socios_feminino                               float64
qt_socios_pep                                    float64
qt_alteracao_socio_total                         float64
qt_alteracao_socio_90d                           float64
qt_alteracao_socio_180d                          float64
qt_alteracao_socio_365d                          float64
qt_socios_pj_ativos                              float64
qt_socios_pj_nulos                               float64
qt_socios_pj_baixados                            float64
qt_socios_pj_suspensos                           float64
qt_socios_pj_inaptos                             float64
vl_idade_media_socios_pj                         float64
vl_idade_maxima_socios_pj                        float64
vl_idade_minima_socios_pj                        float64
qt_coligados                                     float64
qt_socios_coligados                              float64
qt_coligados_matriz                              float64
qt_coligados_ativo                               float64
qt_coligados_baixada                             float64
qt_coligados_inapta                              float64
qt_coligados_suspensa                            float64
qt_coligados_nula                                float64
idade_media_coligadas                            float64
idade_maxima_coligadas                           float64
idade_minima_coligadas                           float64
coligada_mais_nova_ativa                         float64
coligada_mais_antiga_ativa                       float64
idade_media_coligadas_ativas                     float64
coligada_mais_nova_baixada                       float64
coligada_mais_antiga_baixada                     float64
idade_media_coligadas_baixadas                   float64
qt_coligados_sa                                  float64
qt_coligados_me                                  float64
qt_coligados_mei                                 float64
qt_coligados_ltda                                float64
qt_coligados_epp                                 float64
qt_coligados_norte                               float64
qt_coligados_sul                                 float64
qt_coligados_nordeste                            float64
qt_coligados_centro                              float64
qt_coligados_sudeste                             float64
qt_coligados_exterior                            float64
qt_ufs_coligados                                 float64
qt_regioes_coligados                             float64
qt_ramos_coligados                               float64
qt_coligados_industria                           float64
qt_coligados_agropecuaria                        float64
qt_coligados_comercio                            float64
qt_coligados_serviço                             float64
qt_coligados_ccivil                              float64
qt_funcionarios_coligados                        float64
qt_funcionarios_coligados_gp                     float64
media_funcionarios_coligados_gp                  float64
max_funcionarios_coligados_gp                    float64
min_funcionarios_coligados_gp                    float64
vl_folha_coligados                               float64
media_vl_folha_coligados                         float64
max_vl_folha_coligados                           float64
min_vl_folha_coligados                           float64
vl_folha_coligados_gp                            float64
media_vl_folha_coligados_gp                      float64
max_vl_folha_coligados_gp                        float64
min_vl_folha_coligados_gp                        float64
faturamento_est_coligados                        float64
media_faturamento_est_coligados                  float64
max_faturamento_est_coligados                    float64
min_faturamento_est_coligados                    float64
faturamento_est_coligados_gp                     float64
media_faturamento_est_coligados_gp               float64
max_faturamento_est_coligados_gp                 float64
min_faturamento_est_coligados_gp                 float64
total_filiais_coligados                          float64
media_filiais_coligados                          float64
max_filiais_coligados                            float64
min_filiais_coligados                            float64
qt_coligados_atividade_alto                      float64
qt_coligados_atividade_medio                     float64
qt_coligados_atividade_baixo                     float64
qt_coligados_atividade_mt_baixo                  float64
qt_coligados_atividade_inativo                   float64
qt_coligadas                                     float64
sum_faturamento_estimado_coligadas               float64
de_faixa_faturamento_estimado                     object
de_faixa_faturamento_estimado_grupo               object
vl_faturamento_estimado_aux                      float64
vl_faturamento_estimado_grupo_aux                float64
qt_ex_funcionarios                               float64
qt_funcionarios_grupo                            float64
percent_func_genero_masc                         float64
percent_func_genero_fem                          float64
idade_ate_18                                     float64
idade_de_19_a_23                                 float64
idade_de_24_a_28                                 float64
idade_de_29_a_33                                 float64
idade_de_34_a_38                                 float64
idade_de_39_a_43                                 float64
idade_de_44_a_48                                 float64
idade_de_49_a_53                                 float64
idade_de_54_a_58                                 float64
idade_acima_de_58                                float64
grau_instrucao_macro_analfabeto                  float64
grau_instrucao_macro_escolaridade_fundamental    float64
grau_instrucao_macro_escolaridade_media          float64
grau_instrucao_macro_escolaridade_superior       float64
grau_instrucao_macro_desconhecido                float64
total                                            float64
meses_ultima_contratacaco                        float64
qt_admitidos_12meses                             float64
qt_desligados_12meses                            float64
qt_desligados                                    float64
qt_admitidos                                     float64
media_meses_servicos_all                         float64
max_meses_servicos_all                           float64
min_meses_servicos_all                           float64
media_meses_servicos                             float64
max_meses_servicos                               float64
min_meses_servicos                               float64
qt_funcionarios                                  float64
qt_funcionarios_12meses                          float64
qt_funcionarios_24meses                          float64
tx_crescimento_12meses                           float64
tx_crescimento_24meses                           float64
tx_rotatividade                                  float64
qt_filiais                                         int64
dtype: object

In [9]:
# Frequencia de valores faltantes nas colunas
Nan_Ratio = pd.DataFrame((EM.isna().sum())/(len(EM))).sort_values(by=0,ascending=False)
Nan_Ratio = Nan_Ratio.rename(columns={0:'NaN Ratio'})
Nan_Ratio

                                               NaN Ratio
grau_instrucao_macro_desconhecido               1.000000
qt_alteracao_socio_180d                         1.000000
qt_alteracao_socio_365d                         1.000000
qt_alteracao_socio_total                        1.000000
qt_alteracao_socio_90d                          1.000000
idade_media_coligadas_baixadas                  0.999706
coligada_mais_antiga_baixada                    0.999706
coligada_mais_nova_baixada                      0.999706
vl_total_veiculos_antt                          0.999619
vl_total_tancagem                               0.999394
vl_total_veiculos_antt_grupo                    0.999273
vl_total_tancagem_grupo                         0.996193
grau_instrucao_macro_analfabeto                 0.995925
idade_ate_18                                    0.993714
qt_socios_st_suspensa                           0.992968
vl_potenc_cons_oleo_gas                         0.992033
vl_idade_minima_socios_pj                       0.990171
vl_idade_maxima_socios_pj                       0.990171
vl_idade_media_socios_pj                        0.990171
qt_socios_pj_inaptos                            0.990171
qt_socios_pj_suspensos                          0.990171
qt_socios_pj_baixados                           0.990171
qt_socios_pj_nulos                              0.990171
qt_socios_pj_ativos                             0.990171
qt_art                                          0.985745
qt_socios_pep                                   0.985414
idade_acima_de_58                               0.976150
idade_de_54_a_58                                0.969771
idade_de_49_a_53                                0.958821
max_filiais_coligados                           0.955873
total_filiais_coligados                         0.955873
media_filiais_coligados                         0.955873
min_filiais_coligados                           0.955873
grau_instrucao_macro_escolaridade_superior      0.950839
vl_frota                                        0.947674
idade_de_44_a_48                                0.947458
grau_instrucao_macro_escolaridade_fundamental   0.946147
idade_de_19_a_23                                0.943997
idade_de_39_a_43                                0.934224
vl_total_veiculos_pesados                       0.933627
vl_total_veiculos_leves                         0.933627
vl_folha_coligados                              0.921449
media_vl_folha_coligados                        0.921449
max_vl_folha_coligados                          0.921449
min_vl_folha_coligados                          0.921449
vl_folha_coligados_gp                           0.920967
media_vl_folha_coligados_gp                     0.920967
min_vl_folha_coligados_gp                       0.920967
max_vl_folha_coligados_gp                       0.920967
idade_de_34_a_38                                0.920551
idade_de_24_a_28                                0.915866
idade_de_29_a_33                                0.913166
min_funcionarios_coligados_gp                   0.908494
max_funcionarios_coligados_gp                   0.908494
media_funcionarios_coligados_gp                 0.908494
qt_funcionarios_coligados_gp                    0.908494
qt_funcionarios_coligados                       0.908494
de_indicador_telefone                           0.905055
sum_faturamento_estimado_coligadas              0.892831
qt_coligadas                                    0.891345
media_faturamento_est_coligados_gp              0.860430
max_faturamento_est_coligados_gp                0.860430
min_faturamento_est_coligados_gp                0.860430
min_faturamento_est_coligados                   0.860430
faturamento_est_coligados_gp                    0.860430
max_faturamento_est_coligados                   0.860430
media_faturamento_est_coligados                 0.860430
faturamento_est_coligados                       0.860430
coligada_mais_nova_ativa                        0.859080
coligada_mais_antiga_ativa                      0.859080
idade_media_coligadas_ativas                    0.859080
qt_coligados_nordeste                           0.858552
qt_coligados_centro                             0.858552
qt_coligados_ltda                               0.858552
qt_coligados_sul                                0.858552
qt_coligados_exterior                           0.858552
qt_coligados_norte                              0.858552
qt_coligados_sudeste                            0.858552
qt_coligados_atividade_inativo                  0.858552
qt_ufs_coligados                                0.858552
qt_regioes_coligados                            0.858552
qt_ramos_coligados                              0.858552
qt_coligados_industria                          0.858552
qt_coligados_agropecuaria                       0.858552
qt_coligados_comercio                           0.858552
qt_coligados_serviço                            0.858552
qt_coligados_atividade_mt_baixo                 0.858552
qt_coligados_atividade_baixo                    0.858552
qt_coligados_atividade_medio                    0.858552
qt_coligados_atividade_alto                     0.858552
qt_coligados_ccivil                             0.858552
qt_coligados_epp                                0.858552
qt_coligados_mei                                0.858552
idade_maxima_coligadas                          0.858552
qt_coligados_sa                                 0.858552
idade_minima_coligadas                          0.858552
idade_media_coligadas                           0.858552
qt_coligados_nula                               0.858552
qt_coligados_suspensa                           0.858552
qt_coligados_inapta                             0.858552
qt_coligados_baixada                            0.858552
qt_coligados_ativo                              0.858552
qt_coligados_matriz                             0.858552
qt_socios_coligados                             0.858552
qt_coligados                                    0.858552
qt_coligados_me                                 0.858552
grau_instrucao_macro_escolaridade_media         0.853348
tx_crescimento_12meses                          0.840172
tx_crescimento_24meses                          0.839900
percent_func_genero_masc                        0.835729
total                                           0.835729
percent_func_genero_fem                         0.835729
min_meses_servicos                              0.835039
max_meses_servicos                              0.835039
media_meses_servicos                            0.835039
min_meses_servicos_all                          0.775989
max_meses_servicos_all                          0.775989
media_meses_servicos_all                        0.775989
qt_desligados_12meses                           0.775958
qt_desligados                                   0.775958
qt_admitidos                                    0.775958
tx_rotatividade                                 0.775958
qt_funcionarios                                 0.775958
qt_funcionarios_12meses                         0.775958
qt_funcionarios_24meses                         0.775958
qt_admitidos_12meses                            0.775958
meses_ultima_contratacaco                       0.775958
qt_ex_funcionarios                              0.750693
qt_funcionarios_grupo                           0.750674
qt_socios_feminino                              0.686287
qt_socios_masculino                             0.577945
qt_socios_st_regular                            0.335102
idade_media_socios                              0.327931
idade_minima_socios                             0.327931
idade_maxima_socios                             0.327931
empsetorcensitariofaixarendapopulacao           0.311118
qt_socios_pj                                    0.248954
qt_socios_pf                                    0.248954
qt_socios                                       0.248954
fl_optante_simei                                0.178917
fl_optante_simples                              0.178917
nm_meso_regiao                                  0.126970
nm_micro_regiao                                 0.126970
nu_meses_rescencia                              0.097937
de_faixa_faturamento_estimado_grupo             0.059514
vl_faturamento_estimado_aux                     0.059514
vl_faturamento_estimado_grupo_aux               0.059514
de_faixa_faturamento_estimado                   0.059514
de_saude_rescencia                              0.032124
de_saude_tributaria                             0.032124
de_nivel_atividade                              0.024158
sg_uf_matriz                                    0.004194
setor                                           0.004168
vl_total_veiculos_leves_grupo                   0.004168
fl_passivel_iss                                 0.004168
fl_simples_irregular                            0.004168
nm_divisao                                      0.004168
nm_segmento                                     0.004168
fl_spa                                          0.004168
fl_antt                                         0.004168
fl_veiculo                                      0.004168
vl_total_veiculos_pesados_grupo                 0.004168
dt_situacao                                     0.000013
Unnamed: 0                                      0.000000
id                                              0.000000
fl_rm                                           0.000000
fl_matriz                                       0.000000
de_natureza_juridica                            0.000000
sg_uf                                           0.000000
natureza_juridica_macro                         0.000000
de_ramo                                         0.000000
idade_empresa_anos                              0.000000
idade_emp_cat                                   0.000000
fl_me                                           0.000000
fl_sa                                           0.000000
fl_epp                                          0.000000
fl_mei                                          0.000000
fl_ltda                                         0.000000
fl_st_especial                                  0.000000
fl_email                                        0.000000
fl_telefone                                     0.000000
qt_filiais                                      0.000000

In [10]:
EM.select_dtypes(exclude=['int64','float64']).describe()

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_emp_cat,fl_me,fl_sa,fl_epp,fl_mei,fl_ltda,dt_situacao,fl_st_especial,fl_email,fl_telefone,fl_rm,nm_divisao,nm_segmento,fl_spa,fl_antt,fl_veiculo,fl_optante_simples,fl_optante_simei,sg_uf_matriz,de_saude_tributaria,de_saude_rescencia,de_nivel_atividade,de_indicador_telefone,fl_simples_irregular,nm_meso_regiao,nm_micro_regiao,fl_passivel_iss,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo
count,462298,462298,462298,462298,462298,462298,460371,462298,462298,462298,462298,462298,462298,462292,462298,462298,462298,462298,460371,460371,460371,460371,460371,379585,379585,460359,447447,447447,451130,43893,460371,403600,403600,460371,434785,434785
unique,462298,2,67,6,7,33,5,6,2,2,1,2,2,7334,2,2,2,2,87,21,2,2,2,2,2,27,6,5,4,2,2,19,73,2,12,11
top,a6b5036e8e016e6ee424096fa8657f6a83f7d3c11be22f...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,1 a 5,False,False,False,False,False,2005-11-03,False,False,True,NAO,COMERCIO VAREJISTA,COMERCIO; REPARACAO DE VEICULOS AUTOMOTORES E ...,False,False,False,True,False,MA,VERDE,ACIMA DE 1 ANO,MEDIA,BOA,False,CENTRO AMAZONENSE,MANAUS,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"
freq,1,433232,295756,127654,320211,172404,211224,138580,461083,453866,462298,311398,461056,69465,462230,256228,335468,236779,172404,211224,460091,457095,429687,199617,285545,124823,145430,378896,217949,43879,460030,71469,60008,264741,273861,252602

In [11]:
EM.describe()

,Unnamed: 0,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,vl_total_veiculos_antt_grupo,vl_potenc_cons_oleo_gas,nu_meses_rescencia,vl_frota,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,idade_maxima_socios,idade_minima_socios,qt_socios_st_regular,qt_socios_st_suspensa,qt_socios_masculino,qt_socios_feminino,qt_socios_pep,qt_alteracao_socio_total,qt_alteracao_socio_90d,qt_alteracao_socio_180d,qt_alteracao_socio_365d,qt_socios_pj_ativos,qt_socios_pj_nulos,qt_socios_pj_baixados,qt_socios_pj_suspensos,qt_socios_pj_inaptos,vl_idade_media_socios_pj,vl_idade_maxima_socios_pj,vl_idade_minima_socios_pj,qt_coligados,qt_socios_coligados,qt_coligados_matriz,qt_coligados_ativo,qt_coligados_baixada,qt_coligados_inapta,qt_coligados_suspensa,qt_coligados_nula,idade_media_coligadas,idade_maxima_coligadas,idade_minima_coligadas,coligada_mais_nova_ativa,coligada_mais_antiga_ativa,idade_media_coligadas_ativas,coligada_mais_nova_baixada,coligada_mais_antiga_baixada,idade_media_coligadas_baixadas,qt_coligados_sa,qt_coligados_me,qt_coligados_mei,qt_coligados_ltda,qt_coligados_epp,qt_coligados_norte,qt_coligados_sul,qt_coligados_nordeste,qt_coligados_centro,qt_coligados_sudeste,qt_coligados_exterior,qt_ufs_coligados,qt_regioes_coligados,qt_ramos_coligados,qt_coligados_industria,qt_coligados_agropecuaria,qt_coligados_comercio,qt_coligados_serviço,qt_coligados_ccivil,qt_funcionarios_coligados,qt_funcionarios_coligados_gp,media_funcionarios_coligados_gp,max_funcionarios_coligados_gp,min_funcionarios_coligados_gp,vl_folha_coligados,media_vl_folha_coligados,max_vl_folha_coligados,min_vl_folha_coligados,vl_folha_coligados_gp,media_vl_folha_coligados_gp,max_vl_folha_coligados_gp,min_vl_folha_coligados_gp,faturamento_est_coligados,media_faturamento_est_coligados,max_faturamento_est_coligados,min_faturamento_est_coligados,faturamento_est_coligados_gp,media_faturamento_est_coligados_gp,max_faturamento_est_coligados_gp,min_faturamento_est_coligados_gp,total_filiais_coligados,media_filiais_coligados,max_filiais_coligados,min_filiais_coligados,qt_coligados_atividade_alto,qt_coligados_atividade_medio,qt_coligados_atividade_baixo,qt_coligados_atividade_mt_baixo,qt_coligados_atividade_inativo,qt_coligadas,sum_faturamento_estimado_coligadas,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux,qt_ex_funcionarios,qt_funcionarios_grupo,percent_func_genero_masc,percent_func_genero_fem,idade_ate_18,idade_de_19_a_23,idade_de_24_a_28,idade_de_29_a_33,idade_de_34_a_38,idade_de_39_a_43,idade_de_44_a_48,idade_de_49_a_53,idade_de_54_a_58,idade_acima_de_58,grau_instrucao_macro_analfabeto,grau_instrucao_macro_escolaridade_fundamental,grau_instrucao_macro_escolaridade_media,grau_instrucao_macro_escolaridade_superior,grau_instrucao_macro_desconhecido,total,meses_ultima_contratacaco,qt_admitidos_12meses,qt_desligados_12meses,qt_desligados,qt_admitidos,media_meses_servicos_all,max_meses_servicos_all,min_meses_servicos_all,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,462298.00000,462298.000000,280.000000,176.000000,30684.000000,30684.000000,6590.000000,460371.000000,460371.000000,1760.000000,336.000000,3683.000000,417022.000000,2.419000e+04,318469.000000,347207.000000,347207.000000,347207.000000,310696.000000,310696.000000,310696.000000,307381.000000,3251.000000,195115.000000,145029.000000,6743.000000,0.0,0.0,0.0,0.0,4544.000000,4544.000000,4544.000000,4544.000000,4544.000000,4544.000000,4544.000000,4544.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.0,65391.000000,65391.000000,65391.000000,65147.000000,65147.000000,65147.000000,136.000000,136.000000,136.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,65391.000000,42303.000000,4.230300e+04,4.230300e+04,4.230300e+04,4.230300e+04,3.631400e+04,3.631400e+04,3.631400e+04,3.631400e+04,3.653700e+04,3.653700e+04,3.653700e+04,3.653700e+04,6.452300e+04,6.452300e+04,6.452300e+04,6.452300e+04,6.452300e+04,6.452300e+04,6.452300e+04,6.452300e+04,20400.000000,20400.000000,20400.000000,20400.000000,65391.0,65391.0,65391.0,65391.0,65391.0,50231.000000,4.954400e+04,4.347850e+05,4.347850e+05,115254.000000,1.152630e+05,75942.000000,75942.000000,2906.000000,25890.000000,38895.000000,40143.000000,36729.000000,30408.000000,24290.000000,19037.000000,13975.000000,11026.000000,1884.000000,24896.000000,67797.000000,22727.000000,0.0,75942.000000,103574.000000,103574.000000,103574.000000,103574.000000,103574.000000,103560.000000,103560.000000,103560.000000,76261.000000,76261.000000,76261.000000,103574.000000,103574.000000,103574.000000,73888.000000,74014.000000,103574.000000,462298.000000
mean,231148.50000,9.948677,32.014286,3.818182,2.244329,1.177813,5.769044,3.591801,48.699177,134.597159,15.934524,15.892131,25.007247,1.694226e+05,1308.005725,1.496326,1.476681,0.019645,42.816452,44.344131,41.355225,1.396082,1.048600,1.353925,1.107117,5.992437,NaN,NaN,NaN,NaN,1.453785,0.007262,0.013424,0.004842,0.021787,15.633042,17.667913,13.741865,5.744093,11.110336,5.715832,5.904528,0.003823,0.031931,0.000428,0.0,159.171741,227.625171,111.375456,111.385206,227.512334,159.137019,130.475490,137.824020,134.467034,0.719824,0.008518,0.027037,0.080225,0.001789,0.912251,0.136120,2.244376,0.239238,2.368430,0.015843,1.456179,1.225000,2.877323,0.529844,0.129743,1.169840,2.918230,1.205732,309.216344,1.940274e+03,3.649553e+02,1.538043e+03,1.552228e+02,4.528417e+07,5.863275e+06,2.258208e+07,2.261567e+06,1.144848e+08,1.580483e+07,6.708485e+07,5.446710e+06,8.843752e+08,2.314264e+07,4.006618e+08,8.986427e+05,1.006581e+09,3.045739e+07,4.731119e+08,1.381248e+06,60.301275,9.492187,34.664069,4.425539,0.0,0.0,0.0,0.0,0.0,3.175708,2.907904e+07,8.020911e+05,3.367205e+08,24.838418,1.109122e+04,55.699435,44.300577,2.197866,3.544998,4.247384,5.158932,5.634186,5.664661,5.480939,5.758155,6.115063,8.240522,2.248938,8.246465,11.496128,12.310336,NaN,16.706447,43.192861,2.101029,1.853148,27.698110,40.022679,41.965123,155.569411,16.200192,58.060498,96.661983,36.258851,12.324570,12.178529,14.343329,3.097607,-5.834288,9.510699,28.737044
std,133454.08171,9.615664,81.280168,6.797555,9.572536,6.589059,25.450950,72.600352,1206.696804,683.774506,29.708663,75.230681,9.679799,8.549075e+05,1161.889222,3.276626,3.258079,0.195166,12.626447,13.930385,12.514921,2.578793,0.234239,2.848980,0.840194,14.675005,NaN,NaN,NaN,NaN,0.840884,0.084919,0.124291,0.072522,0.177320,12.566365,14.650236,12.050708,24.271199,64.630753,24.225248,24.648572,0.118424,0.319076,0.020689,0.0,107.517745,165.354103,107.846354,108.050379,165.506417,107.734131,117.291388,115.312307,115.927221,4.843818,0.339126,0.172431,0.682837,0.051405,3.238254,1.293799,7.196462,2.092586,21.172714,0.165710,1.398458,0.641037,4.474460,4.903515,0.805483,5.493766,11.156578,17.818352,1493.910982,2.778422e+04,1.862561e+04,2.668126e+04,1.835361e+04,2.448707e+08,3.340987e+07,1.299719e+08,2.828363e+07,8.256886e+08,2.155833e+08,6.847121e+08,1.901343e+08,1.039876e+10,3.678229e+08,5.129334e+09,1.205634e+07,1.128959e+10,4.712580e+08,5.928130e+09,2.187560e+07,307.170442,72.316039,252.303510,64.860562,0.0,0.0,0.0,0.0,0.0,14.299979,7.876820e+08,3.099979e+07,7.114614e+09,192.458811,1.390161e+05,39.044407,39.044406,6.295785,20.727621,18.338771,30.416582,47.295036,53.753634,61.386164,86.572192,98.780740,133.597202,6.916321,76.710297,153.454754,163.623024,NaN,259.468814,123.945569,17.377796,15.590181,203.031275,377.411763,153.874093,637.850983,120.269302,142.951278,279.541243,123.411370,222.456579,222.584458,239.885359,163.581549,443.825819,27.918737,468.626094
min,0.00000,0.016438,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.126000e+03,100.000000,1.000000,0.000000,0.000000,-2.000000,-2.000000,-2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,0.800000,0.800000,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.121280e+04,2.575800e+04,4.121280e+04,0.000000e+00,4.121280e+04,4.121280e+04,4.121280e+04,5.053000e+01,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000e+00,0.000000e+00,4.104703e+04,0.000000,0.000000e+00,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,1.933333,0.000000,0.000000,0.000000,1.000000,-102.466667,-102.466667,-102.466667,1.933333,1.933333,1.933333,0.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000
25%,115574.25000,2.756164,15.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,15.000000,1.000000,2.000000,22.000000,2.620500e+04,673.230000,1.000000,1.000000,0.000000,33.000000,34.000000,32.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,6.406571,7.041752,5.158795,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,80.758333,99.533333,30.333333,30.233333,99.050000,80.433333,60.766667,60.766667,60.766667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000e+00,1.500000e+00,2.000000e+00,0.000000e+00,2.060640e+05,1.751544e+05,1.854576e+05,6.181920e+04,2.472768e+05,1.854576e+05,1.854576e+05,6.181920e+04,2.100000e+05,2.100000e+05,2.100000e+05,2.100000e+05,2.100000e+05,2.100000e+05,2.100000e+05,2.100000e+05,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000,2.100000e+05,1.648512e+05,1.854576e+05,1.000000,1.000000e+00,16.670000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,9.300000,0.000000,0.000000,1.000000,2.000000,14.066667,25.366667,1.000000,25.203704,33.333333,6.966667,0.000000,0.000000,0.000000,0.000000,-44.444444,0.000000,0.000000
50%,231148.50000,6.704110,15.000000,2.000000,1.000000,0.000000,2.000000,0.000000,0.000000,15.000000,3.000000,4.000000,23.000000,5.169300e+04,946.680000,1.000000,1.000000,0.000000,42.000000,43.000000,40.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,11.739904,13.114305,10.193018,2.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.0,135.933333,193.666667,79.066667,78.800000,193.566667,135.803846,83.733333,99.433333,89.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,9.000000,1.000000e+01,6.000000e+00,8.000000e+00,1.000000e+00,8.036496e+05,4.842504e+05,6.181920e+05,1.854576e+05,9.272880e+05,5.392008e+05,7.006176e+05,1.854576e+05,7.418304e+05,3.158003e+05,4.121280e+05,2.100000e+05,8.654688e+05,4.200000e+05,5.769792e+05,2.100000e+05,3.000000,2.000000,2.000000,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000,4.200000e+05,2.100000e+05,2.100000e+05,3.000000,2.000000e+00,60.000000,40.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,NaN,3.000000,30.300000,0.000000,0.000000,4.000000,6.000000,23.977778,53.666667,4.066667,43.533333,61.766667,23.200000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,346722.75000,14.465753,30.000000,4.000000,2.000000,1.000000,4.000000,0.000000,0.000000,66.250000,8.000000,10.000000,25.000000,1.165000e+05,1518.080000,2.000000,2.000000,0.000000,51.000000,54.000000,50.000000,1.000000,1.000000,1.000000,1.000000,3.000000,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,0.000000,0.000000,21.374401,23.835044,18.561259,4.000000,4.000000,3.000000,4.000000,0.000000,0.000000,0.000000,0.0,218.566667,315.066667,158.766667,159.066667,315.133333,218.958333,173.608333,188.208333,173.608333,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.000000,0.000000,0.000000,1.000000,2.000000,0.000000,49.000000,7.000000e+01,2.400000e+01,4.200000e+01,6.000000e+00,5.105235e+06,1.792757e+06,3.317630e+06,4.945536e+05,7.232846e+06,2.431555e+06,4.512802e+06,5.563728e+05,3.300960e+06,1.084200e+06,1.978214e+06,2.100000e+05,4.386392e+06,1.446384e+06,2.658226e+06,2.472768e+05,14.000000,4.400000,8.000000,2.000000,0.0,0.0,0.0,0.0,0.0,3.000000,1.577894e+06,2.100000e+05,2.100000e+05,11.000000,9.000000e+00,100.000000,83.330000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,6.000000,4.000000,NaN,8.000000,58.700000,1.000000,1.000000,13.000000,19.000000,40.033333,95.166667,13.200000,68.883333,96.266667,46.500000,5.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000
max,462297.00000,106.432877,1215.000000,50.000000,489.000000,363.000000,1017.000000,9782.000000,122090.000000,11922.000000,108.000000,3645.000000,66.000000,5.585830e+07,75093.840000,246.000000,246.000000,13.000000,127.000000,127.000000,127.000000,179.000000,6.000000,84.000000,140.000000,163.000000,NaN,NaN,NaN,NaN,12.000000,1.000000,2.000000,2.000000,6.000000,75.096509,101.144422,75.096509,844.000000,2059.000000,844.000000,843.000000,7.000000,25.000000,1.000000,0.0,910.333333,1358.166667,910.333333,910.333333,1358.166667,910.333333,634.200000,634.200000,634.200000,118.000000,42.000000,6.000000,29.000000,6.000000,221.000000,86.000000,288.000000,105.000000,728.000000,5.000000,25.000000,7.000000,86.000000,222.000000,30.000000,272.000000,229.000000,806.000000,32130.000000,2.668728e+06,2.668728e+06,2.668728e+06,2.668728e+06,5.370172e+09,1.205969e+09,3.321422e+09,1.205969e+09,2.461144e+10,2.461144e+10,2.461144e+10,2.461144e+10,3.390953e+11,5.576850e+10,1.673051e+11,8.735568e+08,3.728518e+11,7.425407e+10,2.227618e+11,2.660064e+09,7910.000000,6278.000000,7205.000000,6278.000000,0.0,0.0,0.0,0.0,0.0,761.000000,5.601337e+10,1.454662e+10,2.227618e+11,21555.000000,2.668728e+06,100.000000,100.000000,258.000000,2326.000000,1382.000000,3379.000000,6500.000000,6744.000000,6572.000000,9578.000000,9094.000000,9086.000000,196.000000,8161.000000,25071.000000,20616.000000,NaN,51540.000000,5099.066667,1957.000000,2230.000000,21565.000000,71748.000000,5099.066667,5099.066667,5099.066667,5099.066667,5099.066667,5099.066667,51547.000000,51547.000000,54205.000000,27800.000000,87300.000000,1400.000000,9647.000000

In [12]:
# Filtrando IDs dos portifolios no dataset principal
EM_P1 = EM[EM['id'].isin(list(P1['id']))]
EM_P2 = EM[EM['id'].isin(list(P2['id']))]
EM_P3 = EM[EM['id'].isin(list(P3['id']))]

In [13]:
EM_P1.select_dtypes(exclude=['int64','float64']).describe()

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_emp_cat,fl_me,fl_sa,fl_epp,fl_mei,fl_ltda,dt_situacao,fl_st_especial,fl_email,fl_telefone,fl_rm,nm_divisao,nm_segmento,fl_spa,fl_antt,fl_veiculo,fl_optante_simples,fl_optante_simei,sg_uf_matriz,de_saude_tributaria,de_saude_rescencia,de_nivel_atividade,de_indicador_telefone,fl_simples_irregular,nm_meso_regiao,nm_micro_regiao,fl_passivel_iss,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo
count,555,555,555,555,555,555,555,555,555,555,555,555,555,555,555,555,555,555,555,555,555,555,555,454,454,555,544,544,551,54,555,491,491,555,530,530
unique,555,2,6,6,2,2,3,6,2,2,1,2,1,416,1,2,2,2,8,2,1,2,2,2,2,7,6,3,4,1,1,19,66,2,7,9
top,a450a3cdacf9b9c26f1edd55535e3a87d9449c09ee3d57...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,1 a 5,False,False,False,False,False,2005-11-03,False,False,True,NAO,COMERCIO VAREJISTA,COMERCIO; REPARACAO DE VEICULOS AUTOMOTORES E ...,False,False,False,True,False,MA,VERDE,ACIMA DE 1 ANO,MEDIA,BOA,False,CENTRO AMAZONENSE,MANAUS,False,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"
freq,1,519,432,157,447,496,496,157,553,546,555,337,555,100,555,300,400,311,496,496,555,551,517,286,316,156,167,453,280,54,555,78,65,442,325,296

In [14]:
EM_P1.describe()

,Unnamed: 0,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,vl_total_veiculos_antt_grupo,vl_potenc_cons_oleo_gas,nu_meses_rescencia,vl_frota,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,idade_maxima_socios,idade_minima_socios,qt_socios_st_regular,qt_socios_st_suspensa,qt_socios_masculino,qt_socios_feminino,qt_socios_pep,qt_alteracao_socio_total,qt_alteracao_socio_90d,qt_alteracao_socio_180d,qt_alteracao_socio_365d,qt_socios_pj_ativos,qt_socios_pj_nulos,qt_socios_pj_baixados,qt_socios_pj_suspensos,qt_socios_pj_inaptos,vl_idade_media_socios_pj,vl_idade_maxima_socios_pj,vl_idade_minima_socios_pj,qt_coligados,qt_socios_coligados,qt_coligados_matriz,qt_coligados_ativo,qt_coligados_baixada,qt_coligados_inapta,qt_coligados_suspensa,qt_coligados_nula,idade_media_coligadas,idade_maxima_coligadas,idade_minima_coligadas,coligada_mais_nova_ativa,coligada_mais_antiga_ativa,idade_media_coligadas_ativas,coligada_mais_nova_baixada,coligada_mais_antiga_baixada,idade_media_coligadas_baixadas,qt_coligados_sa,qt_coligados_me,qt_coligados_mei,qt_coligados_ltda,qt_coligados_epp,qt_coligados_norte,qt_coligados_sul,qt_coligados_nordeste,qt_coligados_centro,qt_coligados_sudeste,qt_coligados_exterior,qt_ufs_coligados,qt_regioes_coligados,qt_ramos_coligados,qt_coligados_industria,qt_coligados_agropecuaria,qt_coligados_comercio,qt_coligados_serviço,qt_coligados_ccivil,qt_funcionarios_coligados,qt_funcionarios_coligados_gp,media_funcionarios_coligados_gp,max_funcionarios_coligados_gp,min_funcionarios_coligados_gp,vl_folha_coligados,media_vl_folha_coligados,max_vl_folha_coligados,min_vl_folha_coligados,vl_folha_coligados_gp,media_vl_folha_coligados_gp,max_vl_folha_coligados_gp,min_vl_folha_coligados_gp,faturamento_est_coligados,media_faturamento_est_coligados,max_faturamento_est_coligados,min_faturamento_est_coligados,faturamento_est_coligados_gp,media_faturamento_est_coligados_gp,max_faturamento_est_coligados_gp,min_faturamento_est_coligados_gp,total_filiais_coligados,media_filiais_coligados,max_filiais_coligados,min_filiais_coligados,qt_coligados_atividade_alto,qt_coligados_atividade_medio,qt_coligados_atividade_baixo,qt_coligados_atividade_mt_baixo,qt_coligados_atividade_inativo,qt_coligadas,sum_faturamento_estimado_coligadas,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux,qt_ex_funcionarios,qt_funcionarios_grupo,percent_func_genero_masc,percent_func_genero_fem,idade_ate_18,idade_de_19_a_23,idade_de_24_a_28,idade_de_29_a_33,idade_de_34_a_38,idade_de_39_a_43,idade_de_44_a_48,idade_de_49_a_53,idade_de_54_a_58,idade_acima_de_58,grau_instrucao_macro_analfabeto,grau_instrucao_macro_escolaridade_fundamental,grau_instrucao_macro_escolaridade_media,grau_instrucao_macro_escolaridade_superior,grau_instrucao_macro_desconhecido,total,meses_ultima_contratacaco,qt_admitidos_12meses,qt_desligados_12meses,qt_desligados,qt_admitidos,media_meses_servicos_all,max_meses_servicos_all,min_meses_servicos_all,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,555.000000,555.000000,0.0,0.0,38.000000,38.000000,4.000000,555.000000,555.000000,0.0,0.0,3.0,508.000000,31.000000,405.000000,408.000000,408.000000,408.000000,362.000000,362.000000,362.000000,360.000000,7.0,198.000000,190.000000,4.00,0.0,0.0,0.0,0.0,2.000000,2.0,2.0,2.0,2.0,2.000000,2.000000,2.000000,63.000000,63.000000,63.000000,63.000000,63.0,63.000000,63.0,63.0,63.000000,63.000000,63.000000,62.000000,62.000000,62.000000,0.0,0.0,0.0,63.000000,63.0,63.0,63.000000,63.0,63.000000,63.0,63.000000,63.000000,63.000000,63.0,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,46.000000,46.000000,46.000000,46.000000,46.000000,3.700000e+01,3.700000e+01,3.700000e+01,3.700000e+01,3.700000e+01,3.700000e+01,3.700000e+01,3.700000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01,15.000000,15.000000,15.000000,15.000000,63.0,63.0,63.0,63.0,63.0,50.000000,4.900000e+01,5.300000e+02,5.300000e+02,146.000000,146.000000,101.000000,101.000000,4.0,33.000000,46.000000,43.000000,42.000000,32.000000,21.000000,22.000000,14.000000,15.000000,1.0,25.000000,86.000000,23.000000,0.0,101.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,101.000000,101.000000,101.000000,131.000000,131.000000,131.000000,97.000000,91.000000,131.000000,555.000000
mean,232062.634234,10.139247,NaN,NaN,1.473684,0.526316,3.250000,0.861261,0.542342,NaN,NaN,8.0,24.771654,73700.903226,1130.532765,1.279412,1.272059,0.007353,41.753223,42.872928,40.690608,1.194444,1.0,1.126263,1.057895,2.25,NaN,NaN,NaN,NaN,1.500000,0.0,0.0,0.0,0.0,14.925394,19.122519,10.728268,2.952381,4.412698,3.031746,3.793651,0.0,0.015873,0.0,0.0,162.951638,217.743915,122.099471,121.301613,218.488710,162.812686,NaN,NaN,NaN,0.206349,0.0,0.0,0.015873,0.0,1.000000,0.0,2.619048,0.015873,0.174603,0.0,1.238095,1.079365,2.253968,0.365079,0.015873,2.444444,0.825397,0.158730,134.695652,184.739130,44.595447,89.413043,28.869565,1.177238e+07,1.925429e+06,5.309211e+06,7.613229e+05,1.569094e+07,3.958669e+06,8.044293e+06,2.395355e+06,2.398745e+07,2.843985e+06,1.070244e+07,1.395167e+06,3.236218e+07,6.347711e+06,1.541228e+07,4.505624e+06,14.533333,8.443810,9.200000,8.000000,0.0,0.0,0.0,0.0,0.0,2.280000,1.535270e+06,3.218504e+05,6.359388e+06,8.849315,84.561644,45.564653,54.435347,1.0,2.303030,2.652174,2.674419,2.238095,2.281250,1.428571,1.409091,1.285714,1.200000,1.0,3.560000,5.337209,1.391304,NaN,5.752475,35.059288,1.022901,1.122137,9.916031,14.374046,35.450400,103.349873,13.218830,49.929006,72.989769,33.615512,4.458015,4.679389,4.908397,-0.132325,-2.073969,9.557799,1.236036
std,131328.982362,9.641625,NaN,NaN,1.309773,1.330248,3.201562,16.312180,8.502044,NaN,NaN,6.0,9.969729,97217.088440,815.038203,0.654125,0.647811,0.110593,12.647311,13.486646,12.682938,0.501776,0.0,0.389217,0.234161,2.50,NaN,NaN,NaN,NaN,0.707107,0.0,0.0,0.0,0.0,5.635559,0.300073,11.571190,4.956028,8.160951,5.038459,7.304790,0.0,0.125988,0.0,0.0,118.430335,164.538500,116.584431,117.362627,165.774594,119.391952,NaN,NaN,NaN,1.637846,0.0,0.0,0.125988,0.0,2.355501,0.0,6.851957,0.125988,0.925267,0.0,0.711978,0.326348,3.542226,1.780736,0.125988,6.341817,1.561014,0.676956,604.418577,693.281454,166.002205,290.294607,152.965153,4.904847e+07,4.932741e+06,1.946780e+07,1.870225e+06,5.477172e+07,1.293556e+07,2.426921e+07,1.153034e+07,1.191920e+08,9.602327e+06,4.849982e+07,6.552303e+06,1.375074e+08,3.164343e+07,6.117418e+07,3.052333e+07,16.322056,13.313313,13.278339,13.506612,0.0,0.0,0.0,0.0,0.0,3.270399,4.929787e+06,1.005342e+06,1.165307e+08,19.531175,776.804382,38.791627,38.791627,0.0,1.895469,2.442379,3.771579,2.535692,2.726624,0.978337,1.007547,0.468807,0.560612,NaN,5.605652,9.030159,0.782718,NaN,9.930162,31.521169,2.358179,3.030671,20.431513,26.955900,73.097280,436.361942,20.450028,40.968949,61.443495,37.410508,9.053057,9.875585,9.396767,40.324314,124.955846,28.315487,16.288026
min,369.000000,0.052055,NaN,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,NaN,NaN,2.0,7.000000,3611.000000,110.300000,1.000000,1.000000,0.000000,7.500000,9.000000,6.000000,1.000000,1.0,1.000000,1.000000,1.00,NaN,NaN,NaN,NaN,1.000000,0.0,0.0,0.0,0.0,10.940452,18.910335,2.546201,1.000000,1.000000,1.000000,0.000000,0.0,0.000000,0.0,0.0,4.066667,4.066667,1.566667,1.566667,4.066667,4.066667,NaN,NaN,NaN,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.060640e+04,2.060640e+04,2.060640e+04,2.060640e+04,2.060640e+04,2.060640e+04,2.060640e+04,2.060640e+04,6.181920e+04,6.181920e+04,6.181920e+04,0.000000e+00,6.181920e+04,6.181920e+04,6.181920e+04,6.181920e+04,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000,6.181920e+04,0.000000e+00,5.000000e+04,0.000000,0.000000,0.000000,0.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,NaN,1.000000,2.166667,0.000000,0.000000,0.000000,1.000000,0.983333,1.033333,-0.700000,5.406667,5.800000,2.166667,0.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000
25%,119631.000000,2.924658,NaN,NaN,1.000000,0.000000,1.750000,0.000000,0.000000,NaN,NaN,5.0,22.000000,20982.500000,643.070000,1.000000,1.000000,0.000000,32.000000,32.000000,31.000000,1.000000,1.0,1.000000,1.000000,1.00,NaN,NaN,NaN,NaN,1.250000,0.0,0.0,0.0,0.0,12.932923,19.016427,6.637235,1.000000,1.000000,1.000000,1.000000,0.0,0.000000,0.0,0.0,81.200000,91.366667,25.483333,24.358333,90.183333,81.016667,NaN,NaN,NaN,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.250000,1.250000,1.000000,1.250000,0.000000,1.854576e+05,1.442448e+05,1.854576e+05,8.242560e+04,1.854576e+05,1.442448e+05,1.854576e+05,8.242560e+04,2.100000e+05,2.100000e+05,2.100000e+05,2.100000e+05,2.502288e+05,2.100000e+05,2.100000e+05,2.100000e+05,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000,2.100000e+05,5.000000e+04,5.000000e+04,0.000000,1.000000,0.000000,19.230000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,NaN,1.000000,8.033333,0.000000,0.000000,1.000000,1.500000,15.405000,23.233333,1.033333,22.323077,25.233333,5.966667,1.000000,0.000000,0.000000,0.000000,-45.076923,0.000000,0.000000
50%,234351.000000,6.709589,NaN,NaN,1.000000,0.000000,2.000000,0.000000,0.000000,NaN,NaN,8.0,23.000000,41256.000000,905.940000,1.000000,1.000000,0.000000,40.000000,41.000000,40.000000,1.000000,1.0,1.000000,1.000000,1.00,NaN,NaN,NaN,NaN,1.500000,0.0,0.0,0.0,0.0,14.925394,19.122519,10.728268,2.000000,2.000000,2.000000,2.000000,0.0,0.000000,0.0,0.0,135.466667,187.900000,93.733333,91.366667,191.100000,132.866667,NaN,NaN,NaN,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,1.000000,0.000000,0.000000,0.0,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,3.500000,3.500000,3.000000,3.500000,2.000000,3.915216e+05,2.472768e+05,3.090960e+05,1.854576e+05,4.945536e+05,3.090960e+05,3.297024e+05,1.854576e+05,6.054576e+05,3.709152e+05,3.709152e+05,2.100000e+05,7.541016e+05,4.350000e+05,5.254632e+05,2.100000e+05,5.000000,3.000000,3.000000,2.000000,0.0,0.0,0.0,0.0,0.0,1.000000,4.945536e+05,2.100000e+05,2.100000e+05,2.000000,2.000000,46.150000,53.850000,1.0,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,3.000000,1.000000,NaN,2.000000,23.200000,0.000000,0.000000,4.000000,5.000000,23.222222,46.666667,5.033333,41.966667,54.700000,22.133333,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,346947.000000,15.494521,NaN,NaN,2.000000,0.750000,3.500000,0.000000,0.000000,NaN,NaN,11.0,25.000000,64505.500000,1303.820000,1.000000,1.000000,0.000000,50.000000,51.000000,49.000000,1.000000,1.0,1.000000,1.000000,2.25,NaN,NaN,NaN,NaN,1.750000,0.0,0.0,0.0,0.0,16.917864,19.228611,14.819302,3.000000,3.000000,3.000000,3.000000,0.0,0.000000,0.0,0.0,225.983333,303.900000,194.316667,194.325000,325.133333,226.500000,NaN,NaN,NaN,0.000000,0.0,0.0,0.000000,0.0,1.000000,0.0,2.000000,0.000000,0.000000,0.0,1.000000,1.000000,2.000000,0.000000,0.000000,2.000000,1.000000,0.000000,27.750000,28.500000,9.187500,13.750000,3.750000,2.472768e+06,5.357664e+05,9.685008e+05,4.327344e+05,3.111566e+06,9.410256e+05,1.566086e+06,4.533408e+05,1.985474e+06,9.300000e+05,1.205474e+06,3.709152e+05,2.114124e+06,1.067896e+06,1.576390e+06,4.527330e+05,25.500000,5.500000,10.000000,5.500000,0.0,0.0,0.0,0.0,0.0,2.000000,1.115458e+06,2.100000e+05,2.100000e+05,8.750000,7.000000,80.770000,100.000000,1.0,4.000000,3.000000,2.500000,2.000000,2.000000,1.000000,1.000000,1.750000,1.000000,1.0,3.000000,6.000000,1.500000,NaN,6.000000,54.666667,1.000000,1.000000,10.500000,13.500000,36.175278,89.200000,17.283333,65.916667,93.266667,48.566667,4.000000,4.500000,5.000000,0.000000,0.000000,0.000000,0.000000
max,462190.000000,47.517808,NaN,NaN,6.000000,7.000000,8.000000,382.000000,199.000000,NaN,NaN,14.0,54.000000,453745.000000,6201.910000,9.000000,9.000000,2.000000,81.000000,83.000000,80.000000,6.000000,1.0,4.000000,2.000000,6.00,NaN,NaN,NaN,NaN,2.000000,0.0,0.0,0.0,0.0,18.910335,19.334702,18.910335,33.000000,44.000000,33.000000,42.000000,0.0,1.000000,0.0,0.0,484.366667,636.600000,476.066667,476.066667,636.600000,484.366667,NaN,NaN,NaN,13.000000,0.0,0.0,1.000000,0.0,15.000000,0.0,42.000000,1.000000,7.000000,0.0,5.000000,3.000000,28.000000,14.000000,1.000000,42.000000,11.000000,5.000000,3874.000000,4098.000000,1039.000000,1307.000000,1039.000000,2.866144e+08,2.407858e+07,1.072357e+08,1.020017e+07,3.015953e+08,7.039146e+07,1.072357e+08,7.039146e+07,8.221983e+08,5.232399e+07,2.753015e+08,5.100084e+07,8.763309e+08,2.407240e+08,3.297115e+08,2.407240e+08,46.000000,46.000000,46.000000,46.000000,0.0,0.0,0.0,0.0,0.0,23.000000,3.464601e+07,2.019427e+07,2.660064e+09,155.000000,9281.000000,100.000000,100.000000,1.0,7.000000,11.000000,23.000000,12.000000,11.000000,5.000000,5.000000,2.000000,3.000000,1.0,25.000000,70.000000,4.000000,NaN,70.000000,153.100000,15.000000,19.000000,155.000000,203.000000,822.423810,5014.966667,142.900000,228.155556,309.333333,192.633333,70.000000,75.000000,74.000000,200.000000,800.000000,213.333333,374.000000

In [15]:
EM_P2.select_dtypes(exclude=['int64','float64']).describe()

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_emp_cat,fl_me,fl_sa,fl_epp,fl_mei,fl_ltda,dt_situacao,fl_st_especial,fl_email,fl_telefone,fl_rm,nm_divisao,nm_segmento,fl_spa,fl_antt,fl_veiculo,fl_optante_simples,fl_optante_simei,sg_uf_matriz,de_saude_tributaria,de_saude_rescencia,de_nivel_atividade,de_indicador_telefone,fl_simples_irregular,nm_meso_regiao,nm_micro_regiao,fl_passivel_iss,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo
count,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,566,441,566,496,496,566,566,566
unique,566,1,26,6,4,29,5,3,2,2,1,1,2,207,2,2,2,2,60,19,2,2,2,2,1,6,5,1,3,1,2,18,60,2,6,6
top,67f774985fe36dd9a74f5893f2153739404a3d5b6e9643...,True,SOCIEDADE EMPRESARIA LIMITADA,AM,ENTIDADES EMPRESARIAIS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,> 20,False,False,False,False,False,2005-11-03,False,False,True,SIM,ADMINISTRACAO PUBLICA DEFESA E SEGURIDADE SOCIAL,ADMINISTRACAO PUBLICA DEFESA E SEGURIDADE SOCIAL,False,False,True,False,False,AM,VERDE,ACIMA DE 1 ANO,ALTA,BOA,False,CENTRO AMAZONENSE,MANAUS,True,"DE R$ 10.000.000,01 A R$ 30.000.000,00","DE R$ 10.000.000,01 A R$ 30.000.000,00"
freq,1,566,287,142,323,163,336,379,564,543,566,566,562,201,564,304,307,307,163,163,539,474,490,539,566,142,376,566,523,441,565,138,126,490,278,247

In [16]:
EM_P2.describe()

,Unnamed: 0,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,vl_total_veiculos_antt_grupo,vl_potenc_cons_oleo_gas,nu_meses_rescencia,vl_frota,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,idade_maxima_socios,idade_minima_socios,qt_socios_st_regular,qt_socios_st_suspensa,qt_socios_masculino,qt_socios_feminino,qt_socios_pep,qt_alteracao_socio_total,qt_alteracao_socio_90d,qt_alteracao_socio_180d,qt_alteracao_socio_365d,qt_socios_pj_ativos,qt_socios_pj_nulos,qt_socios_pj_baixados,qt_socios_pj_suspensos,qt_socios_pj_inaptos,vl_idade_media_socios_pj,vl_idade_maxima_socios_pj,vl_idade_minima_socios_pj,qt_coligados,qt_socios_coligados,qt_coligados_matriz,qt_coligados_ativo,qt_coligados_baixada,qt_coligados_inapta,qt_coligados_suspensa,qt_coligados_nula,idade_media_coligadas,idade_maxima_coligadas,idade_minima_coligadas,coligada_mais_nova_ativa,coligada_mais_antiga_ativa,idade_media_coligadas_ativas,coligada_mais_nova_baixada,coligada_mais_antiga_baixada,idade_media_coligadas_baixadas,qt_coligados_sa,qt_coligados_me,qt_coligados_mei,qt_coligados_ltda,qt_coligados_epp,qt_coligados_norte,qt_coligados_sul,qt_coligados_nordeste,qt_coligados_centro,qt_coligados_sudeste,qt_coligados_exterior,qt_ufs_coligados,qt_regioes_coligados,qt_ramos_coligados,qt_coligados_industria,qt_coligados_agropecuaria,qt_coligados_comercio,qt_coligados_serviço,qt_coligados_ccivil,qt_funcionarios_coligados,qt_funcionarios_coligados_gp,media_funcionarios_coligados_gp,max_funcionarios_coligados_gp,min_funcionarios_coligados_gp,vl_folha_coligados,media_vl_folha_coligados,max_vl_folha_coligados,min_vl_folha_coligados,vl_folha_coligados_gp,media_vl_folha_coligados_gp,max_vl_folha_coligados_gp,min_vl_folha_coligados_gp,faturamento_est_coligados,media_faturamento_est_coligados,max_faturamento_est_coligados,min_faturamento_est_coligados,faturamento_est_coligados_gp,media_faturamento_est_coligados_gp,max_faturamento_est_coligados_gp,min_faturamento_est_coligados_gp,total_filiais_coligados,media_filiais_coligados,max_filiais_coligados,min_filiais_coligados,qt_coligados_atividade_alto,qt_coligados_atividade_medio,qt_coligados_atividade_baixo,qt_coligados_atividade_mt_baixo,qt_coligados_atividade_inativo,qt_coligadas,sum_faturamento_estimado_coligadas,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux,qt_ex_funcionarios,qt_funcionarios_grupo,percent_func_genero_masc,percent_func_genero_fem,idade_ate_18,idade_de_19_a_23,idade_de_24_a_28,idade_de_29_a_33,idade_de_34_a_38,idade_de_39_a_43,idade_de_44_a_48,idade_de_49_a_53,idade_de_54_a_58,idade_acima_de_58,grau_instrucao_macro_analfabeto,grau_instrucao_macro_escolaridade_fundamental,grau_instrucao_macro_escolaridade_media,grau_instrucao_macro_escolaridade_superior,grau_instrucao_macro_desconhecido,total,meses_ultima_contratacaco,qt_admitidos_12meses,qt_desligados_12meses,qt_desligados,qt_admitidos,media_meses_servicos_all,max_meses_servicos_all,min_meses_servicos_all,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,566.000000,566.000000,27.000000,5.00000,490.000000,490.000000,262.000000,566.000000,566.000000,30.000000,5.00000,94.000000,566.000000,4.680000e+02,496.000000,382.000000,382.000000,382.000000,353.000000,353.000000,353.000000,352.000000,1.0,310.000000,197.000000,32.000000,0.0,0.0,0.0,0.0,51.000000,51.0,51.000000,51.0,51.0,51.000000,51.000000,51.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.0,299.0,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,1.0,1.0,1.0,299.000000,299.0,299.000000,299.000000,299.0,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.000000,252.000000,252.000000,252.000000,252.000000,252.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.360000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,153.000000,153.000000,153.000000,153.000000,299.0,299.0,299.0,299.0,299.0,299.000000,2.930000e+02,5.660000e+02,5.660000e+02,566.000000,566.000000,566.000000,566.000000,215.000000,472.000000,549.000000,562.000000,565.000000,565.000000,561.000000,553.000000,532.000000,505.000000,117.000000,518.000000,563.000000,549.000000,0.0,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,565.000000,565.000000,566.000000,566.000000
mean,222976.823322,26.987691,39.296296,15.80000,11.644898,9.848980,11.160305,10.408127,11.726148,45.866667,15.80000,78.468085,24.752650,9.647870e+05,1722.204395,3.099476,2.921466,0.178010,51.556652,57.609065,46.028329,2.585227,1.0,1.890323,1.639594,3.281250,NaN,NaN,NaN,NaN,1.313725,0.0,0.019608,0.0,0.0,11.809039,13.374455,10.467555,7.133779,12.628763,7.090301,7.063545,0.003344,0.033445,0.0,0.0,174.316595,300.543478,86.745819,86.911260,299.868116,174.380252,190.9,190.9,190.9,0.685619,0.0,0.006689,0.086957,0.0,1.939799,0.110368,2.832776,0.204013,1.933110,0.036789,1.745819,1.344482,4.130435,0.822742,0.22408,1.408027,3.244147,1.438127,359.662698,1563.960317,290.440612,1237.587302,27.285714,3.292322e+07,7.119954e+06,1.794412e+07,3.335155e+06,7.523423e+07,1.243005e+07,4.511125e+07,3.062845e+06,1.954887e+08,1.685670e+07,1.164804e+08,1.113347e+06,2.974745e+08,2.573928e+07,1.772975e+08,1.373777e+06,40.052288,6.170758,24.549020,1.718954,0.0,0.0,0.0,0.0,0.0,7.130435,1.954342e+08,8.104888e+07,9.989964e+07,590.717314,580.982332,59.434947,40.565106,3.455814,18.307203,33.136612,49.622776,59.079646,56.614159,47.397504,40.764919,34.214286,40.748515,5.128205,73.212355,189.246892,115.981785,NaN,368.805654,13.003004,37.570671,31.653710,591.687279,961.980565,80.260953,1420.068492,0.843757,94.172965,339.436926,13.697291,370.293286,367.766784,427.118375,4.744764,53.795368,13.800580,3.434629
std,136693.802201,11.638360,67.564109,16.22344,27.506765,24.114791,31.223043,36.865715,31.275328,78.134161,16.22344,136.418450,5.923012,2.790323e+06,1349.288829,7.236576,7.221585,0.491116,11.068034,12.817341,13.071234,5.910405,NaN,2.813669,4.189035,6.891951,NaN,NaN,NaN,NaN,0.509517,0.0,0.140028,0.0,0.0,10.712540,12.985275,10.134141,18.997761,37.934675,18.994574,18.982665,0.057831,0.197854,0.0,0.0,105.313278,187.228956,91.436414,91.556434,187.500599,105.707780,NaN,NaN,NaN,3.753499,0.0,0.081649,0.612343,0.0,4.656999,1.005618,5.373199,1.050016,16.768125,0.235985,1.557276,0.693978,4.189277,3.436678,0.90113,2.783111,5.624484,15.653505,897.387177,9521.111182,2612.859353,9087.856693,143.462913,9.102092e+07,2.636661e+07,4.546394e+07,2.458575e+07,2.678554e+08,4.634508e+07,1.696655e+08,1.529287e+07,8.883249e+08,8.235455e+07,5.781995e+08,4.721194e+06,1.322652e+09,1.408084e+08,8.845034e+08,5.772972e+06,146.014815,25.793471,117.134254,2.857256,0.0,0.0,0.0,0.0,0.0,18.998579,8.883365e+08,2.220549e+08,3.030362e+08,1140.288893,4111.154065,24.417167,24.417199,7.161466,45.500483,66.397426,87.525805,128.645021,157.560491,154.358722,147.773288,141.344803,203.010121,14.433879,205.920083,538.648131,374.664472,NaN,979.487367,21.491805,93.701887,78.750397,1141.405872,1740.207745,88.566685,2053.583607,12.152193,67.050637,519.334007,22.534602,980.644568,980.705292,1044.708444,28.293918,857.744622,18.287564,11.803635
min,1646.000000,10.038356,10.000000,2.00000,0.000000,0.000000,1.000000,0.000000,0.000000,10.000000,2.00000,1.000000,21.000000,3.435000e+03,262.900000,1.000000,1.000000,0.000000,20.000000,20.000000,12.000000,1.000000,1.0,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,0.0,0.000000,0.0,0.0,0.761123,0.761123,0.761123,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,2.766667,2.766667,1.500000,1.500000,2.766667,2.766667,190.9,190.9,190.9,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.181920e+04,6.181920e+04,6.181920e+04,0.000000e+00,6.181920e+04,6.181920e+04,6.181920e+04,0.000000e+00,1.236384e+05,1.236384e+05,1.236384e+05,0.000000e+00,1.236384e+05,1.236384e+05,1.236384e+05,1.907900e+04,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000,1.236384e+05,1.001471e+07,1.001471e+07,7.000000,17.000000,12.500000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,16.000000,1.933333,0.000000,0.000000,7.000000,24.000000,2.707324,7.600000,-12.033333,5.554139,7.600000,1.933333,16.000000,0.000000,0.000000,-79.462103,-87.276959,0.000000,0.000000
25%,99718.750000,17.832192,15.000000,6.00000,2.000000,0.000000,1.000000,0.000000,1.000000,15.000000,6.00000,14.250000,23.000000,1.006380e+05,818.405000,2.000000,2.000000,0.000000,44.000000,49.000000,36.000000,1.000000,1.0,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,0.0,0.000000,0.0,0.0,4.076660,4.182067,3.921971,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.0,0.0,98.145833,152.483333,21.366667,21.366667,151.266667,97.460417,190.9,190.9,190.9,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.00000,0.000000,1.000000,0.000000,10.750000,12.000000,7.000000,10.000000,0.000000,1.174565e+06,6.181920e+05,8.860752e+05,6.697080e+04,1.375477e+06,6.800112e+05,1.169413e+06,9.788040e+04,9.300000e+05,3.831864e+05,7.418304e+05,2.100000e+05,1.112746e+06,4.500000e+05,9.300000e+05,2.100000e+05,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,2.000000,9.300000e+05,1.850712e+07,2.020403e+07,119.250000,99.000000,38.117500,17.940000,1.000000,3.000000,9.000000,14.000000,15.000000,12.000000,9.000000,6.000000,4.000000,3.000000,1.000000,8.000000,48.000000,8.000000,NaN,89.000000,2.441667,0.000000,0.000000,120.000000,257.750000,24.679109,176.383333,-0.633333,43.726361,156.066667,2.441667,89.000000,85.000000,98.000000,-0.980392,-21.848739,0.000000,0.000000
50%,226562.000000,23.402740,15.000000,6.00000,5.000000,2.000000,3.000000,1.000000,4.000000,17.500000,6.00000,44.500000,23.000000,2.973655e+05,1215.160000,2.000000,2.000000,0.000000,51.500000,59.000000,46.000000,2.000000,1.0,1.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,1.000000,0.0,0.000000,0.0,0.0,7.101985,7.101985,6.195756,3.000000,4.000000,3.000000,3.000000,0.000000,0.000000,0.0,0.0,156.061111,275.466667,56.200000,56.200000,275.466667,156.061111,190.9,190.9,190.9,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.000000,0.000000,0.00000,0.000000,1.000000,0.000000,80.500000,91.500000,29.583333,60.000000,1.500000,6.460106e+06,2.119368e+06,4.049158e+06,2.472768e+05,7.037086e+06,2.493374e+06,4.389163e+06,2.884896e+05,7.480123e+06,1.990486e+06,5.440090e+06,2.100000e+05,8.592869e+06,2.625194e+06,6.882538e+06,2.100000e+05,3.000000,2.000000,3.000000,1.000000,0.0,0.0,0.0,0.0,0.0,3.000000,6.692218e+06,3.040626e+07,3.492982e+07,237.500000,178.000000,57.140000,42.860000,2.000000,9.000000,17.000000,23.000000,25.000000,21.000000,16.000000,13.000000,9.000000,8.000000,2.000000,24.500000,78.000000,25.000000,NaN,146.500000,3.933333,9.000000,9.000000,238.000000,435.000000,43.503886,284.050000,-0.266667,69.795530,256.016667,3.933333,148.000000,144.000000,177.000000,0.000000,-6.993007,8.463573,1.000000
75%,340059.250000,38.628082,30.000000,25.00000,10.000000,8.000000,9.000000,7.000000,10.000000,30.000000,25.00000,81.500000,23.000000,6.312612e+05,2257.655000,3.000000,3.000000,0.000000,58.500000,66.000000,55.000000,2.000000,1.0,2.000000,1.000000,3.000000,NaN,NaN,NaN,NaN,2.000000,0.0,0.000000,0.0,0.0,16.793292,18.658453,14.900753,7.000000,10.000000,7.000000,6.500000,0.000000,0.000000,0.0,0.0,234.780000,432.650000,116.250000,116.250000,432.650000,234.780000,190.9,190.9,190.9,0.000000,0.0,0.000000,0.000000,0.0,2.000000,0.000000,4.000000,0.000000,0.000000,0.000000,2.000000,1.500000,5.000000,1.000000,0.00000,2.000000,3.000000,1.000000,229.250000,361.250000,87.383929,217.500000,10.000000,2.067337e+07,5.396301e+06,1.222990e+07,9.633492e+05,2.996686e+07,7.915668e+06,1.691270e+07,1.483661e+06,4.521855e+07,7.879170e+06,2.998231e+07,2.100000e+05,6.360888e+07,1.060148e+07,3.785396e+07,2.100000e+05,12.000000,3.750000,6.000000,1.000000,0.0,0.0,0.0,0.0,0.0,7.000000,4.521855e+07,6.331316e+07,7.511236e+07,543.250000,375.250000,82.060000,61.882500,3.500000,16.250000,31.000000,45.000000,49.000000,50.000000,40.000000,34.000000,26.000000,23.000000,5.000000,64.750000,167.500000,85.000000,NaN,326.250000,23.950000,35.000000,29.000000,544.250000,904.500000,113.479571,626.350000,0.400000,146.368911,438.916667,24.358333,326.250000,326.250000,378.750000,5.000000,0.000000,19.840451,2.000000
max,461834.000000,55.126027,360.000000,40.00000,359.000000,215.000000,426.000000,663.000000,371.000000,385.000000,40.00000,1080.000000,49.000000,3.832034e+07,8467.070000,139.000000,139.000000,3.000000,90.000000,90.000000,90.000000,109.000000,1.0,47.000000,59.000000,40.000000,NaN,NaN,NaN,NaN,3.000000,0.0,1.000000,0.0,0.0,49.374401,52.281999,49.374401,296.000000,538.000000,296.000000,296.000000,1.000000,2.000000,0.0,0.0,615.183333,1135.233333,614.000000,614.000000,1135.233333,615.183333,190.9,190.9,190.9,56.000000,0.0,1.000000,8.000000,0.0,52.000000,16.000000,41.000000,13.000000,278.000000,2.000000,11.000000,5.000000,30.000000,48.000000,9.00000,25.000000,51.000000,270.000000,7222.000000,123452.000000,41150.666667,123395.000000,2112.000000,7.937997e+08,3.540386e+08,3.540386e+08,3.540386e+08,2.371570e+09,5.642788e+08,1.688592e+09,1.921547e+08,7.780736e+09,1.192900e+09,5.962804e+09,6.099494e+07,1.217597e+10,2.228800e+09,1.112630e+10,6.455985e+07,1236.000000,309.000000,1222.000000,33.000000,0.0,0.0,0.0,0.0,0.0,296.000000,7.780736e+09,3.490930e+09,4.663801e+09,11078.000000,95202.000000,100.000000,87.500000,83.000000,643.000000,949.000000,785.000000,1884.000000,2905.000000,3004.000000,2907.000000,2725.000000,3663.000000,135.000000,3378.000000,10413.000000,4791.000000,NaN,17943.000000,405.733333,1256.000000,1041.000000,11079.000000,21259.000000,944.633532,5099.066667,266.166667,459.969011,5099.066667,409.133333,17952.000000,17943.000000,18346.000000,376.315789,17800.000000,133.877551,172.000000

In [17]:
EM_P3.select_dtypes(exclude=['int64','float64']).describe()

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_emp_cat,fl_me,fl_sa,fl_epp,fl_mei,fl_ltda,dt_situacao,fl_st_especial,fl_email,fl_telefone,fl_rm,nm_divisao,nm_segmento,fl_spa,fl_antt,fl_veiculo,fl_optante_simples,fl_optante_simei,sg_uf_matriz,de_saude_tributaria,de_saude_rescencia,de_nivel_atividade,de_indicador_telefone,fl_simples_irregular,nm_meso_regiao,nm_micro_regiao,fl_passivel_iss,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo
count,265,265,265,265,265,265,265,265,265,265,265,265,265,265,265,265,265,265,265,265,265,265,265,263,263,265,265,265,265,194,265,241,241,265,265,265
unique,265,1,25,6,4,16,1,6,1,2,1,1,2,129,1,2,2,2,26,13,2,2,2,2,1,6,5,3,3,1,2,19,56,1,6,6
top,30a9521eb087b73e83542c3f30c85cc53e44fb18d60fcf...,True,MUNICIPIO,MA,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,> 20,False,False,False,False,False,2005-11-03,False,False,False,NAO,ADMINISTRACAO PUBLICA DEFESA E SEGURIDADE SOCIAL,ADMINISTRACAO PUBLICA DEFESA E SEGURIDADE SOCIAL,False,False,True,False,False,MA,VERDE,ACIMA DE 1 ANO,ALTA,BOA,False,NORTE MARANHENSE,MANAUS,True,"DE R$ 30.000.000,01 A R$ 100.000.000,00","DE R$ 30.000.000,01 A R$ 100.000.000,00"
freq,1,265,108,74,128,150,265,176,265,260,265,265,264,85,265,147,133,145,150,150,255,253,221,252,263,74,159,263,236,194,264,41,38,265,138,135

In [18]:
EM_P3.describe()

,Unnamed: 0,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,vl_total_veiculos_antt_grupo,vl_potenc_cons_oleo_gas,nu_meses_rescencia,vl_frota,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,idade_maxima_socios,idade_minima_socios,qt_socios_st_regular,qt_socios_st_suspensa,qt_socios_masculino,qt_socios_feminino,qt_socios_pep,qt_alteracao_socio_total,qt_alteracao_socio_90d,qt_alteracao_socio_180d,qt_alteracao_socio_365d,qt_socios_pj_ativos,qt_socios_pj_nulos,qt_socios_pj_baixados,qt_socios_pj_suspensos,qt_socios_pj_inaptos,vl_idade_media_socios_pj,vl_idade_maxima_socios_pj,vl_idade_minima_socios_pj,qt_coligados,qt_socios_coligados,qt_coligados_matriz,qt_coligados_ativo,qt_coligados_baixada,qt_coligados_inapta,qt_coligados_suspensa,qt_coligados_nula,idade_media_coligadas,idade_maxima_coligadas,idade_minima_coligadas,coligada_mais_nova_ativa,coligada_mais_antiga_ativa,idade_media_coligadas_ativas,coligada_mais_nova_baixada,coligada_mais_antiga_baixada,idade_media_coligadas_baixadas,qt_coligados_sa,qt_coligados_me,qt_coligados_mei,qt_coligados_ltda,qt_coligados_epp,qt_coligados_norte,qt_coligados_sul,qt_coligados_nordeste,qt_coligados_centro,qt_coligados_sudeste,qt_coligados_exterior,qt_ufs_coligados,qt_regioes_coligados,qt_ramos_coligados,qt_coligados_industria,qt_coligados_agropecuaria,qt_coligados_comercio,qt_coligados_serviço,qt_coligados_ccivil,qt_funcionarios_coligados,qt_funcionarios_coligados_gp,media_funcionarios_coligados_gp,max_funcionarios_coligados_gp,min_funcionarios_coligados_gp,vl_folha_coligados,media_vl_folha_coligados,max_vl_folha_coligados,min_vl_folha_coligados,vl_folha_coligados_gp,media_vl_folha_coligados_gp,max_vl_folha_coligados_gp,min_vl_folha_coligados_gp,faturamento_est_coligados,media_faturamento_est_coligados,max_faturamento_est_coligados,min_faturamento_est_coligados,faturamento_est_coligados_gp,media_faturamento_est_coligados_gp,max_faturamento_est_coligados_gp,min_faturamento_est_coligados_gp,total_filiais_coligados,media_filiais_coligados,max_filiais_coligados,min_filiais_coligados,qt_coligados_atividade_alto,qt_coligados_atividade_medio,qt_coligados_atividade_baixo,qt_coligados_atividade_mt_baixo,qt_coligados_atividade_inativo,qt_coligadas,sum_faturamento_estimado_coligadas,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux,qt_ex_funcionarios,qt_funcionarios_grupo,percent_func_genero_masc,percent_func_genero_fem,idade_ate_18,idade_de_19_a_23,idade_de_24_a_28,idade_de_29_a_33,idade_de_34_a_38,idade_de_39_a_43,idade_de_44_a_48,idade_de_49_a_53,idade_de_54_a_58,idade_acima_de_58,grau_instrucao_macro_analfabeto,grau_instrucao_macro_escolaridade_fundamental,grau_instrucao_macro_escolaridade_media,grau_instrucao_macro_escolaridade_superior,grau_instrucao_macro_desconhecido,total,meses_ultima_contratacaco,qt_admitidos_12meses,qt_desligados_12meses,qt_desligados,qt_admitidos,media_meses_servicos_all,max_meses_servicos_all,min_meses_servicos_all,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,265.000000,265.000000,10.00000,0.0,221.000000,221.000000,130.000000,265.000000,265.000000,10.000000,0.0,22.000000,264.000000,2.080000e+02,217.000000,98.000000,98.000000,98.000000,93.000000,93.000000,93.000000,93.000000,0.0,79.000000,43.000000,12.000000,0.0,0.0,0.0,0.0,15.000000,15.0,15.0,15.0,15.0,15.000000,15.000000,15.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.0,76.0,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,1.0,1.0,1.0,76.000000,76.0,76.000000,76.000000,76.0,76.000000,76.000000,76.000000,76.000000,76.000000,76.0,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,63.000000,63.000000,63.000000,63.000000,63.000000,5.800000e+01,5.800000e+01,5.800000e+01,5.800000e+01,5.900000e+01,5.900000e+01,5.900000e+01,5.900000e+01,7.400000e+01,7.400000e+01,7.400000e+01,7.400000e+01,7.400000e+01,7.400000e+01,7.400000e+01,7.400000e+01,36.000000,36.000000,36.000000,36.000000,76.0,76.0,76.0,76.0,76.0,76.000000,7.400000e+01,2.650000e+02,2.650000e+02,265.000000,265.000000,265.000000,265.000000,57.000000,189.000000,254.000000,264.000000,265.000000,265.000000,265.000000,265.000000,263.000000,257.000000,64.000000,253.00000,265.000000,262.000000,0.0,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,264.000000,265.000000,265.000000
mean,227805.267925,27.762502,22.00000,NaN,12.285068,9.040724,21.515385,7.784906,10.675472,25.000000,NaN,101.909091,24.738636,9.073375e+05,1587.106820,4.010204,3.755102,0.255102,49.949403,54.967742,45.301075,3.107527,NaN,2.227848,2.488372,5.000000,NaN,NaN,NaN,NaN,1.666667,0.0,0.0,0.0,0.0,17.756921,24.037417,13.759525,6.973684,12.763158,6.960526,6.934211,0.013158,0.026316,0.0,0.0,174.054145,292.764474,92.769298,92.769298,289.752632,172.620630,190.9,190.9,190.9,0.539474,0.0,0.013158,0.263158,0.0,2.881579,0.118421,2.618421,0.315789,1.013158,0.0,1.881579,1.407895,4.447368,0.447368,0.144737,1.092105,5.118421,0.157895,551.031746,2470.587302,243.245227,1853.222222,67.047619,5.095607e+07,9.142780e+06,2.870045e+07,4.452404e+06,1.290918e+08,1.437142e+07,7.577078e+07,4.475081e+06,2.892848e+08,1.867475e+07,2.008414e+08,1.901397e+06,4.500614e+08,2.585041e+07,2.779501e+08,2.118897e+06,65.166667,8.003972,40.583333,2.972222,0.0,0.0,0.0,0.0,0.0,6.973684,2.892848e+08,1.080079e+08,1.141512e+08,446.705660,490.271698,47.020566,52.979434,4.403509,15.142857,32.834646,61.935606,77.075472,74.871698,61.886792,53.501887,43.475285,53.910506,6.218750,76.55336,221.026415,174.041985,NaN,467.686792,19.387925,28.064151,23.920755,447.264151,915.864151,120.283859,2134.504151,1.331195,129.434890,472.160000,20.391447,468.600000,466.452830,517.211321,51.831156,53.023882,6.566275,2.554717
std,142118.867942,14.119603,11.83216,NaN,35.029406,25.104747,87.800181,23.765325,32.952220,11.547005,NaN,125.442800,6.241333,2.818177e+06,1235.757393,13.927274,13.918067,0.736546,13.802937,15.466269,14.898778,11.162303,NaN,5.188620,8.830068,11.119189,NaN,NaN,NaN,NaN,1.112697,0.0,0.0,0.0,0.0,11.979442,16.289809,12.625516,11.029625,26.831260,11.036232,10.958510,0.114708,0.161136,0.0,0.0,108.478916,190.989177,110.786716,110.786716,193.492943,109.885215,NaN,NaN,NaN,1.700516,0.0,0.114708,1.170395,0.0,7.575341,0.711189,5.537670,1.298312,4.067738,0.0,2.019684,0.911813,5.094820,1.491261,0.582041,3.154585,9.027317,0.517755,1079.387595,10637.341325,652.232708,9156.052781,277.918323,1.074975e+08,1.772969e+07,5.041104e+07,1.703111e+07,4.163940e+08,2.576143e+07,2.282866e+08,1.687203e+07,1.135824e+09,5.063524e+07,8.028777e+08,5.720661e+06,1.760065e+09,6.421831e+07,1.023396e+09,5.765003e+06,187.392102,14.360521,120.669176,7.983863,0.0,0.0,0.0,0.0,0.0,11.029625,1.135824e+09,1.926276e+08,2.017062e+08,814.964707,519.178301,19.044813,19.044813,7.596662,48.701716,66.334255,81.472520,85.410960,74.423838,62.630972,58.866961,69.556435,131.144644,12.356437,105.81000,273.201341,272.832149,NaN,494.030942,16.073597,73.040875,59.929989,815.803911,1092.195910,92.931038,2311.318392,7.099983,73.440840,729.179311,17.520471,494.568957,501.007703,552.040156,780.173996,785.511769,11.827838,12.010011
min,3116.000000,0.761644,15.00000,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,15.000000,NaN,1.000000,9.000000,2.426000e+03,297.410000,1.000000,1.000000,0.000000,4.000000,4.000000,4.000000,1.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,0.0,0.0,0.0,0.0,0.761123,0.761123,0.659822,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.0,0.0,2.300000,2.300000,2.033333,2.033333,2.300000,2.300000,190.9,190.9,190.9,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.181920e+04,6.181920e+04,6.181920e+04,0.000000e+00,1.236384e+05,1.236384e+05,1.236384e+05,5.000000e+04,1.236384e+05,1.236384e+05,1.236384e+05,5.000000e+04,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000,1.236384e+05,2.003972e+07,2.003972e+07,5.000000,68.000000,13.940000,0.360000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,4.000000,1.000000,NaN,68.000000,1.966667,0.000000,0.000000,5.000000,83.000000,6.115453,13.066667,-11.700000,5.947005,6.000000,1.966667,68.000000,2.000000,0.000000,-29.632653,-63.101875,0.000000,0.000000
25%,97370.000000,17.638356,15.00000,NaN,2.000000,0.000000,2.250000,0.000000,1.000000,15.000000,NaN,21.250000,23.000000,1.481812e+05,708.950000,2.000000,2.000000,0.000000,41.000000,45.000000,34.000000,1.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,0.0,0.0,0.0,0.0,9.338809,9.338809,3.957563,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.0,0.0,102.829167,117.566667,16.658333,16.658333,116.308333,100.989583,190.9,190.9,190.9,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,10.500000,16.000000,7.666667,11.000000,0.000000,9.942588e+05,4.894020e+05,8.191044e+05,1.236384e+05,1.452751e+06,7.237998e+05,1.112746e+06,1.236384e+05,8.072796e+05,3.934896e+05,5.100084e+05,2.100000e+05,9.579660e+05,4.945536e+05,8.072796e+05,2.100000e+05,2.000000,1.500000,1.750000,1.000000,0.0,0.0,0.0,0.0,0.0,1.000000,8.072796e+05,3.060050e+07,3.142476e+07,100.000000,200.000000,32.290000,43.380000,1.000000,3.000000,8.000000,23.750000,28.000000,28.000000,20.000000,19.000000,11.000000,10.000000,1.000000,15.00000,73.000000,40.250000,NaN,188.000000,2.933333,0.000000,0.000000,100.000000,355.000000,39.685351,257.333333,-0.633333,58.735333,251.500000,2.933333,188.000000,184.000000,193.000000,0.000000,-13.157823,0.000000,0.000000
50%,230549.000000,24.073973,15.00000,NaN,4.000000,3.000000,6.000000,1.000000,3.000000,22.500000,NaN,45.000000,23.000000,3.138315e+05,1072.280000,2.000000,2.000000,0.000000,50.000000,54.000000,45.000000,2.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,0.0,0.0,0.0,0.0,15.050878,27.800137,10.795346,2.000000,3.000000,2.000000,2.000000,0.000000,0.000000,0.0,0.0,156.661806,272.783333,39.416667,39.416667,272.783333,156.661806,190.9,190.9,190.9,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,2.000000,0.000000,112.000000,119.000000,45.000000,116.000000,4.000000,8.510444e+06,4.234615e+06,7.871645e+06,2.472768e+05,9.272880e+06,4.718866e+06,8.242560e+06,3.090960e+05,5.192126e+06,1.669118e+06,3.039444e+06,2.100000e+05,1.131423e+07,3.919152e+06,8.682414e+06,2.100000e+05,6.000000,2.100000,4.000000,1.000000,0.0,0.0,0.0,0.0,0.0,2.000000,5.192126e+06,5.100084e+07,5.579183e+07,213.000000,328.000000,42.490000,57.510000,2.000000,6.000000,20.500000,40.000000,45.000000,48.000000,40.000000,37.000000,25.000000,27.000000,2.000000,45.00000,140.000000,90.000000,NaN,313.000000,23.200000,0.000000,0.000000,213.000000,582.000000,110.731183,490.433333,0.000000,138.385891,414.333333,23.933333,313.000000,313.000000,336.000000,0.000000,-3.763898,0.000000,0.000000
75%,354121.000000,43.800000,26.25000,NaN,9.000000,7.000000,14.000000,6.000000,8.000000,30.000000,NaN,163.500000,23.000000,5.243772e+05,2179.920000,3.000000,2.000000,0.000000,61.000000,66.000000,54.000000,2.000000,NaN,2.000000,1.000000,2.250000,NaN,NaN,NaN,NaN,2.000000,0.0,0.0,0.0,0.0,27.468172,35.418207,18.843258,6.000000,12.000000,6.000000,6.000000,0.000000,0.000000,0.0,0.0,243.945833,414.341667,122.041667,122.041667,414.341667,243.945833,190.9,190.9,190.9,0.000000,0.0,0.000000,0.000000,0.0,2.000000,0.000000,2.250000,0.000000,0.000000,0.0,2.000000,1.000000,5.000000,0.000000,0.000000,1.000000,5.000000,0.000000,510.500000,616.500000,150.000000,412.500000,15.500000,4.107371e+07,1.016926e+07,3.166689e+07,1.009714e+06,5.649245e+07,1.129231e+07,4.116128e+07,1.617602e+06,5.546407e+07,1.622116e+07,3.980899e+07,4.945536e+05,9.398207e+07,1.683929e+07,5.232738e+07,6.181920e+05,18.500000,4.125000,7.000000,2.000000,0.0,0.0,0.0,0.0,0.0,6.000000,5.546407e+07,9.978650e+07,1.086451e+08,508.000000,549.000000,56.620000,67.710000,5.000000,16.000000,37.000000,70.250000,102.000000,93.000000,79.000000,64.000000,52.000000,57.000000,4.250000,96.00000,255.000000,192.750000,NaN,539.000000,27.900000,27.000000,21.000000,508.000000,983.000000,173.474959,5014.966667,1.666667,182.091830,521.366667,29.066667,539.000000,541.000000,635.000000,0.000000,0.000000,11.393693,1.000000
max,460027.000000,51.808219,45.00000,NaN,359.000000,215.000000,912.000000,215.000000,371.000000,45.000000,NaN,430.000000,49.000000,2.593945e+07,6347.860000,139.000000,139.000000,5.000000,90.000000,90.000000,90.000000,109.000000,NaN,47.000000,59.000000,40.000000,NaN,NaN,NaN,NaN,5.000000,0.0,0.0,0.0,0.0,40.982888,52.281999,40.982888,57.000000,138.000000,57.000000,57.000000,1.000000,1.000000,0.0,0.0,498.966667,642.666667,498.966667,498.966667,642.666667,498.966667,190.9,190.9,190.9,10.000000,0.0,1.000000,8.000000,0.0,52.000000,6.000000,36.000000,8.000000,28.000000,0.0,11.000000,5.000000,19.000000,10.000000,4.000000,26.000000,51.000000,3.000000,4770.000000,79175.000000,4398.611111,71360.000000,2112.000000,5.643269e+08,1.234323e+08,2.077125e+08,1.234323e+08,2.371570e+09,1.234323e+08,1.390128e+09,1.234323e+08,7.559949e+09,3.482021e+08,5.150974e+09,3.250660e+07,1.217597e+10,3.634637e+08,5.715272e+09,3.271660e+07,945.000000,63.000000,666.000000,49.000000,0.0,0.0,0.0,0.0,0.0,57.000000,7.559949e+09,2.011597e+09,2.015451e+09,7227.000000,3919.000000,99.640000,86.060000,56.000000,643.000000,949.000000,749.000000,682.000000,560.000000,424.000000,532.000000,930.000000,1844.000000,66.000000,668.00000,2447.000000,2471.000000,NaN,3919.000000,112.166667,782.000000,394.000000,7233.000000,7961.000000,576.624064,5099.066667,66.933333,353.954938,5099.066667,112.166667,3919.000000,3919.000000,4243.000000,12700.000000,12700.000000,101.086957,172.000000

## Data pre-processing

### Preenchendo valores faltantes

In [19]:
EM = pd.read_csv('C:\\Users\\Luiz Guilherme\\codenation\\projeto_final\\datasets\\estaticos_market.csv')
Nan_Ratio = pd.DataFrame((EM.isna().sum())/(len(EM))).sort_values(by=0,ascending=False)
Nan_Ratio = Nan_Ratio.rename(columns={0:'NaN Ratio'})

# Filtrando colunas com menos de 30% de valoress faltantes
colunas = list(Nan_Ratio[Nan_Ratio['NaN Ratio']<0.3].index)

# Coluna dt_situação, Unnamed: 0, nm_meso_regiao e nm_micro_regiao foram dropadas
del colunas[26:29]
del colunas[5:7]
colunas = sorted(colunas)
colunas.insert(0,'id')
EM = EM[colunas]

# Linhas com valores faltantes na coluna nm_divisao foram dropados
EM = EM.dropna(subset = ['nm_divisao'])
EM = EM.reset_index(drop=True)

# Coluna fl_rm transformada para binário
EM['fl_rm'] = EM['fl_rm'].map({'SIM':True,'NAO':False})

# Valores faltantes nas colunas binárias foram inputados como False 
EM[colunas[8:25]] = EM[colunas[8:25]].fillna(False)

# Filtrando colunas numéricas
colunas_num = list(EM.select_dtypes(include=['int64','float64']).columns)

# Substituindo valores faltantes
EM[colunas_num[1]] = EM[colunas_num[1]].fillna(0)
EM[colunas_num[3:5]] = EM[colunas_num[3:5]].fillna(1)
EM[colunas_num[5]] = EM[colunas_num[5]].fillna(0)
EM[colunas_num[6:8]] = EM[colunas_num[6:8]].fillna(EM[colunas_num[6:8]].median())
EM[colunas_num[8:10]] = EM[colunas_num[8:10]].fillna(0)

# Filtrando colunas object
colunas_obj = list(EM.select_dtypes(include=['object']).columns)
colunas_obj.remove('id')

# Substituindo valores faltantes
EM[colunas_obj[0:2]] = EM[colunas_obj[0:2]].fillna('DE R$ 81.000,01 A R$ 360.000,00')
EM[colunas_obj[3]] = EM[colunas_obj[3]].fillna('MEDIA')
EM[colunas_obj[5]] = EM[colunas_obj[5]].fillna('SEM INFORMACAO')
EM[colunas_obj[6]] = EM[colunas_obj[6]].fillna('CINZA')
EM[colunas_obj[13]] = EM[colunas_obj[13]].fillna(EM[colunas_obj[12]])
EM.to_csv('EM.csv', index=False)

### Encodando e Padronizando

In [ ]:
# Criando dataset para encoding
EM_enc = EM.drop('id',axis=1)

# Hashing Encoder
HE = ce.HashingEncoder(n_components=30, cols=EM_enc.columns)
EM_enc = HE.fit_transform(EM_enc)

# Padronizando os dados
scaler = StandardScaler()
EM_enc = scaler.fit_transform(EM_enc)
EM_enc = pd.DataFrame(EM_enc)

# Exportando dados
EM_enc.to_csv('EM_enc.csv', index=False)

## Modelo

### Validação

In [ ]:
EM_enc = pd.read_csv('C:\\Users\\Luiz Guilherme\\codenation\\projeto_final\\EM_enc.csv')
EM = pd.read_csv('C:\\Users\\Luiz Guilherme\\codenation\\projeto_final\\EM.csv')
y_P1 = EM['id'].isin(list(P1['id']))
y_P2 = EM['id'].isin(list(P2['id']))
y_P3 = EM['id'].isin(list(P3['id']))

In [ ]:
# Dividindo dados em treino e teste
X_train_P1, X_test_P1, y_train_P1, y_test_P1 = train_test_split(EM_enc, y_P1, test_size=0.3, shuffle=False)
X_train_P2, X_test_P2, y_train_P2, y_test_P2 = train_test_split(EM_enc, y_P2, test_size=0.3, shuffle=False)
X_train_P3, X_test_P3, y_train_P3, y_test_P3 = train_test_split(EM_enc, y_P3, test_size=0.3, shuffle=False)

# Oversampling
os = SMOTE(random_state=0)
X_train_P1,y_train_P1=os.fit_sample(X_train_P1, y_train_P1)
X_train_P2,y_train_P2=os.fit_sample(X_train_P2, y_train_P2)
X_train_P3,y_train_P3=os.fit_sample(X_train_P3, y_train_P3)

In [ ]:
# Validação cruzada com regressão logística
lrcv = LogisticRegressionCV(cv=5,
                            scoring='balanced_accuracy',
                            solver='saga',
                            n_jobs=-1,
                            refit=True,
                            multi_class='ovr')

In [ ]:
# Obtendo scores para cada protifolio (balanced accuracy)
lr_P1 = lrcv.fit(X_train_P1, y_train_P1)
lr_P1.score(X_train_P1, y_train_P1)

In [ ]:
lr_P2 = lrcv.fit(X_train_P2, y_train_P2)
lr_P2.score(X_train_P2, y_train_P2)

In [ ]:
lr_P3 = lrcv.fit(X_train_P3, y_train_P3)
lr_P3.score(X_train_P3, y_train_P3)

### Performance nos dados de teste

In [ ]:
# Função que plota curva ROC
def ROC(X_train,X_test,y_train,y_test):
    lr=LogisticRegression(solver='saga',
                          n_jobs=-1,
                          multi_class='ovr')
    lr.fit(X_train, y_train)
    lr_roc = roc_auc_score(y_test, lr.predict(X_test))
    fpr, tpr, thresholds = roc_curve(y_test, lr.predict_proba(X_test)[:,1])
    plt.figure()
    plt.plot(fpr, tpr, label='Logistic Regression (area = %0.2f)' % lr_roc)
    plt.plot([0, 1], [0, 1],'r--')
    plt.xlim([-0.05, 1.05])
    plt.ylim([-0.05, 1.05])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver operating characteristic')
    plt.legend(loc="lower right")
    plt.savefig('Log_ROC')
    plt.show()

In [ ]:
# Plotando curva ROC para portifolio 1
ROC(X_train_P1,X_test_P1,y_train_P1,y_test_P1)

In [ ]:
# Plotando curva ROC para portifolio 2
ROC(X_train_P2,X_test_P2,y_train_P2,y_test_P2)

In [ ]:
# Plotando curva ROC para portifolio 3
ROC(X_train_P3,X_test_P3,y_train_P3,y_test_P3)

## Obtendo Leads

In [ ]:
# Função que retorna os indexes dos leads no dataset
def Leads(y_P,n_leads):
    lr=LogisticRegression(solver='saga',
                          n_jobs=-1,
                          multi_class='ovr')
    lr.fit(EM_enc, y_P)
    proba = pd.DataFrame(lr.predict_proba(EM_enc)[:,1])
    proba = proba.drop(list(y_P[y_P==True].index))
    leads = list(proba.sort_values(0,ascending=False)[0:n_leads].index)
    return EM.loc[leads]

In [ ]:
# Retornando 1000 leads para cada portifolio
leads_P1 = Leads(y_P1,1000)
leads_P2 = Leads(y_P2,1000)
leads_P3 = Leads(y_P3,1000)

In [ ]:
leads_P1.head()

In [ ]:
leads_P1.describe()

In [ ]:
EM.loc[list(P1.index)].describe()

In [ ]:
leads_P2.head()

In [ ]:
leads_P2.describe()

In [ ]:
EM.loc[list(P2.index)].describe()

In [ ]:
leads_P3.head()

In [ ]:
leads_P3.describe()

In [ ]:
EM.loc[list(P3.index)].describe()